---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const movieEntries = await getCollection('shelf', ({ id }) => id.startsWith('movies/'));
  return movieEntries.map(entry => ({
    params: { slug: entry.slug.split('/')[1] },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'shelf'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <p>{entry.data.description}</p>
  <Content />
</Layout>
