---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Shelf | A Thinking Workspace">
  <h1>Shelf</h1>
  <p>
    A collection of my favorite books, movies, and music.
  </p>
  <ul>
    <li>
      <a href="/shelf/books">Books</a>
    </li>
    <li>
      <a href="/shelf/movies">Movies</a>
    </li>
    <li>
      <a href="/shelf/music">Music</a>
    </li>
  </ul>
</Layout>
