---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import {sortedByDate} from '@/utils';

const cultureEntries = await getCollection('shelf', ({ id }) => id.startsWith('culture/'));
const sortedCulture = sortedByDate(cultureEntries);
---

<Layout title="Culture | Shelf">
  <h1>Culture</h1>
  <p>
    Ideas, people, and projects that inspire.
  </p>
  <div class="card-grid">
    {sortedCulture.map(entry => (
      <a href={`/shelf/culture/${entry.slug.split('/')[1]}`} class="card">
        <div class="card-img">Image Placeholder</div>
        <div class="card-content">
          <h2 class="card-title">{entry.data.title}</h2>
          <p class="card-description">{entry.data.description}</p>
        </div>
      </a>
    ))}
  </div>
</Layout>
