---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import { sortedByDate } from '@/utils';

const philosophyEntries = await getCollection('shelf', ({ id }) => id.startsWith('philosophy/'));
const sortedPhilosophy = sortedByDate(philosophyEntries);
---

<Layout title="Philosophy | Shelf">
  <div class="section-head">
    <h1>Philosophy</h1>
    <p class="subtitle lead">
      Personal philosophies and the sources that shaped them.
    </p>
  </div>
  <div class="card-grid">
    {sortedPhilosophy.map(entry => (
      <a href={`/shelf/philosophy/${entry.slug.split('/')[1]}`} class="card">
        <div class="card-img">
          {entry.data.coverUrl ? (
            <img src={entry.data.coverUrl} alt={`Cover image for ${entry.data.title}`} loading="lazy" />
          ) : (
            <span>Cover image</span>
          )}
        </div>
        <div class="card-content">
          <h2 class="card-title">{entry.data.title}</h2>
          <p class="card-description">{entry.data.description}</p>
        </div>
      </a>
    ))}
  </div>
</Layout>
